@charset "UTF-8";
/* CSS Document */


html, body {
	margin:0px;
	background-color:#4c4c4c;
	font-family:Arial, Helvetica, sans-serif;
}

#container, #header, #nav, #content, #footer, #nav {
	width:900px;
}

#header, #content, #footer {
	padding:10px 0px 10px 0px;
}

#container {
	margin-left:auto;
	margin-right:auto;
}

#header {
	height:100px;
	text-align:center;
}

#header .title {
    color: rgba(51,51,51, 0.65);
    text-shadow: 1px 4px 6px #4c4c4c, 0 0 0 #000, 1px 4px 6px #4c4c4c;
    font-size:80px;
    font-weight:bold;
    display:block;
}

/*#header .title {*/
	/*color: rgba(51,51,51, 0.65);*/
    /*text-shadow: 1px 4px 6px #eee, 0 0 0 #000, 1px 4px 6px #eee;*/
	/*font-size:80px;*/
	/*font-weight:bold;*/
	/*display:block;*/
/*}*/

#header .comment {
	display:block;
	color:#777;
	font-size:12px;
	font-style:italic;
	margin-top:-10px;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

#logout a {
    background-color:#333;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px;
    border: 0px;
    color: #555;
}

#roles {
    border-radius: 5px;
    /*background-color: #ccc;*/
    border: 0px;
}

#roles option {
    border-radius: 5px;
    margin: 5px;
}

#roles option:checked {
    border-radius: 5px;
    background: linear-gradient(#333,#333);
    color: #fff;
}

.nav, .subnav {
	padding: 15px 10px 15px 10px;
}

.nav ul, .subnav ul {
	list-style-type: none;
	text-align: center;
	padding:0px;
	margin:0px;
}

.nav ul li, .subnav ul li {
	display: inline;
	padding:10px;
}

.nav ul li a, .subnav ul li a {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color:#93D483; /*  FFDC7A     268DFF  */
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px;
    border: 0px;
    color: #fff;
}

.subnav ul li a {
    background-color:#333 ;
}


.nav ul li a:hover {
	background-color:#7CC36B;
}
.subnav ul li a:hover {
    background-color:#444;
}


#content {
	padding-bottom:15px;
}
#footer {
	text-align:right;
	color:#aaa;
	font-size:10px;
	padding-top:100px;
}

input[type=submit], input[type=button], .edit, .blueButton {

    background-color:#268DFF; /*  FFDC7A     268DFF  */
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px;
    border: 0px;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance:none;
    margin: 0px;
    margin-right: 10px;

}


/*input[type=submit], input[type=button], .edit {*/
	/*display: inline-block;*/
	/*outline: none;*/
	/*cursor: pointer;*/
	/*text-align: center;*/
	/*text-decoration: none;*/
	/*font: 14px/100% Arial, Helvetica, sans-serif;*/
	/*padding: .5em 2em .55em;*/
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	/*-webkit-border-radius: .5em; */
	/*-moz-border-radius: .5em;*/
	/*border-radius: .5em;*/
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	/*-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	/*box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	/*color: #e9e9e9;*/
	/*border: solid 1px #555;*/
	/*background: #6e6e6e;*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));*/
	/*background: -moz-linear-gradient(top,  #888,  #575757);*/
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');*/
/*}*/
/*input[type=submit]:hover, input[type=button]:hover, .edit:hover {*/
	/*text-decoration: none;*/
	/*background: #616161;*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));*/
	/*background: -moz-linear-gradient(top,  #757575,  #4b4b4b);*/
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');*/
/*}*/
/*input[type=submit]:active, input[type=button]:active, .edit:active  {*/
	/*position: relative;*/
	/*top: 1px;*/
	/*color: #afafaf;*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));*/
	/*background: -moz-linear-gradient(top,  #575757,  #888);*/
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');*/
/*}*/

.buttons, .form {
	border:0px;
}

.property-list {
	list-style-type:none;
}

.fieldcontain label {
	vertical-align: top;
	text-align: right;
	float: left;
	width: 25%;
	margin-right: 10px;
	margin-top: 10px;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

h1 {
	color: #333;
	font-weight: bold;
}

.show {
	border-spacing: 10px;
    width:900px;
}

.show tr td:nth-child(1) {
	text-align: right;
	width: 200px;
	font-weight: bold;
	vertical-align: top;
    color: #fff;
}

.list {

	width:100%;
	border-spacing:0px;
    color: #333;
    overflow: hidden;
    border-collapse: separate;
    -webkit-box-shadow: 0 8px 6px -6px #111;
    -moz-box-shadow: 0 8px 6px -6px #111;
    box-shadow: 0 8px 6px -6px #111;
    font-size: 13px;
}

table.list tbody tr {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

table.list tbody tr:hover {
    background-color: #BAE3FF;
}

.list thead th, .list tbody td {
	padding: 7px;
}

.list thead tr {
	text-align: left;
	background-color: #333;

}

.list thead tr th:first-child {
    border-top-left-radius: 5px;
    overflow: hidden;
}
.list thead tr th:last-child {
    border-top-right-radius: 5px;
    overflow: hidden;
}

.partagg {
    border-top: 1px solid #000;
}

.list tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.list tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.list thead a {
	text-decoration: none;
	color: #fff;
}

.list tbody a, .coloredlink {
	text-decoration: none;
	border-bottom: 1px dashed #333;
	color: #333;
}

.list tbody tr:nth-child(2n) {
    background-color: #aaa;
}

.list tbody tr:nth-child(2n+1) {
    background-color: #999;
}

/*.list tbody tr:nth-child(2n):not(.areaagg, .partagg) {*/
	/*background-color: #aaa;*/
/*}*/

/*.list tbody tr:nth-child(2n+1):not(.areaagg, .partagg) {*/
    /*background-color: #999;*/
/*}*/



input[type=text], input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px;
    border: 0px;
    /*padding: 3px 0px 3px 3px;*/
    margin: 5px 1px 3px 0px;
    border-radius:5px;
    font-size: 14px;
    background-color: #666;
    color: #eee;

}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    /*box-shadow: 0 0 5px #268DFF;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    /*border: 1px solid #0000AA;*/
}

::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
    font-style: italic;
    color: #ccc;
    padding: 0px 10px 5px 5px;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.nonpad::-webkit-input-placeholder {
    padding: 0 0 0 5px;
}

table.form tr td:nth-child(1) {
    padding-top: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: right;
    width: 150px;
}
table.form tr td:nth-child(2) {
    width: 500px;
}

.required-indicator {
    color: red;
}

.errors, .message {
    margin: 15px 0 15px 0;
}

.errors {
    background-color: #FFD9D9;
    padding: 10px;
    border: 1px solid #FF3838;
    border-radius: 5px;
    list-style-type: none;
    color: #B52B2B;
}

.message {
    padding: 10px 0px 10px 30px;
    background-color: #FFF1B5;
    border: 1px solid #FFDB3B;
    color: #B39929;
    border-radius: 5px;
    position: relative;
}

.linkoutput {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border:1px solid #ccc;
}

.shadowbox {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    opacity: 0;
    display: none;

}

.spinner {
    width: 30px;
    height: 30px;
    position: fixed;
    top:50%;
    left:50%;
    opacity: 0;
    display:none;

}

.logintable input[type=text], .logintable input[type=password] {
    width: 85px;
}

.logintable td {
    text-align: center;
}



tr.radiorow td {
    text-align: center;
}

.criterionBlock {
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
    margin: 15px;
    -webkit-box-shadow: 0 8px 6px -6px #666;
    -moz-box-shadow: 0 8px 6px -6px #666;
    box-shadow: 0 8px 6px -6px #666;
}

.blockWrapper {
    width: 900px;
    border-radius: 5px;
    background-color: #999;
    padding: 10px;
    margin-top: 20px;
    /*margin: 15px 0 15px 0;*/
}

.blockWrapper span:first-child {
    color: #fff;
}

div.blockWrapper span:first-child {
    font-size: 24px;
    font-weight: bold;
}

table.criterionTable tr:first-child td:first-child {
    font-weight: bold;
}

table.criterionTable tr:first-child td:nth-child(2) {
    font-size: 12px;
    font-style: italic;

}

table.criterionTable tr:nth-child(2) td {
    font-size: 14px;
}

.nav ul li a.adminlinks {
    background-color: #F04646;
}

input.roundedOne[type=radio] {
    display: none;
}
input.roundedOne[type=radio] + span {
    display: inline-block;
    border-radius:5px;
    padding: 5px;
}
input.roundedOne[type=radio]:checked + span {
    background-color: #268DFF;
    color: #fff;
}

.scoreComment {
    width: 870px;
    height: 100px;
    margin-left: 10px;
}

.scoreInfo {
    color: #fff;
    font-weight: bold;
}
.scoreInfo tr td {
    padding-right: 40px;
}
.buttons {
    margin-top: 20px;
}
.roomAverage {
    color: #666;
}

.projectCriterionBlock {
    background-color: #FFFFC0;
}
.technicalCriterionBlock {
    background-color: #DBEFFF;
}
.valuesCriterionBlock {
    background-color: #FFD0CA;
}

